.footerWrapper {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  left: 0;
  right: 0;
  gap: 1px;
  border-top: 1px solid #bababa;

  img:hover {
    opacity: 0.8;
  }
}