.footerWrapper {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  left: 0;
  right: 0;
  gap: 1px;

  button {
    width: stretch;
    background-color: rgb(193, 224, 251);
    border: none;
    padding: 2% 5%;
  }
}