.chatFooterWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #000;
  display: flex;
  align-items: center;
  padding: 10px;
  z-index: 999;
  background-color: #fff;

  .chatInput {
    border: 1px solid #898989;
    border-radius: 999px;
    padding: 5px 10px;
    width: 250px;
  }

  .chatInput:focus {
    outline: none;
  }

  .submitButton {
    position: absolute;
    right: 10px;
    border: none;
    padding: 3px 10px;
    background-color: rgb(92, 191, 244);
    color: #fff;
    border-radius: 4px;
  }

  .disableSubmitBtn {
    position: absolute;
    right: 10px;
    border: none;
    padding: 3px 10px;
    background-color: rgb(183, 183, 183);
    color: #fff;
    border-radius: 4px;
    pointer-events: none;
  }
}