.chatPageWrapper {
  width: 100%;
  height: 100%;

  .searchInput {
    margin-bottom: 10px;
    border: none;
    background-color: #f5f5f5;
    width: 100%;
    padding-left: 10px;
    height: 30px;
    color: #000;
    border-radius: 5px;
  }

  .searchInput:focus {
    outline: none;
  }
}

.chatLists {
  text-decoration: none;
}

.chatList {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d2d2d2;

  .chatImg {
    background-color: grey;
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    border: none;
  }

  p {
    margin: 0;
  }

  .chatLastSentence {
    font-size: 14px;
    color: rgb(132, 132, 132);
  }
}

.chatRoomWrapper {
  width: 100%;
  height: 100%;

  .chatMessage {
    border-radius: 7px;
    padding: 6px;
  }

  .chatMessage.mine {
    background-color: #bdf4a2;
  }

  .chatMessage.theirs {
    background-color: #e0e0e0;
  }
}

