.contactWrapper {
  width: 100%;
  height: 100%;

  .title {
    font-size: 23px;
    text-align: center;
  }

  .contactContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 5%;
    margin-top: 10%;

    input, textarea {
      padding: 5px;
    }

    input:focus, textarea:focus {
      outline: none;
    }

    textarea {
      resize: none;
      height: 150px;
    }

    label:not(:first-of-type) {
      margin-top: 15px;
    }
  }

  .submitBtn {
    border: none;
    width: 50%;
    background-color: rgb(129, 195, 246);
    color: #fff;
    border-radius: 999px;
    padding: 2% 3%;
    margin: 10% auto 0;
  }

  .disableSubmitBtn {
    border: none;
    width: 50%;
    background-color: rgb(150, 150, 150);
    color: #fff;
    border-radius: 999px;
    padding: 2% 3%;
    margin: 10% auto 0;
    pointer-events: none;
  }

  .submitBtn:hover {
    opacity: 0.8;
  }
}